<div class="container">
  <form [formGroup]="recipeForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Recipe Name</label>
      <div class="col-sm-10">
        <input id="recipeName" type="text" class="form-control" placeholder="What's the name of your recipe?"
               formControlName="recipeName" name="recipeName">
        <div *ngIf="recipeForm.controls['recipeName'].invalid && (recipeForm.controls['recipeName'].dirty || recipeForm.controls['recipeName'].touched)"
             class="alert alert-danger">
          <div *ngIf="recipeForm.controls['recipeName'].errors.required">
            Recipe Name is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select class="form-control" id="readerID" formControlName="categories">
          <option>Please select a Category</option>
          <option *ngFor="let categories of recipeCategories">{{categories}}</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ingredients</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" placeholder="Ingredients with Quantity" formControlName="ingredients" rows="5"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Total Time</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Total time in mins" formControlName="time" />
      </div>
    </div>

    <div formArrayName="steps">
      <div *ngFor="let step of recipeForm.controls['steps'].controls; let i = index">
        <div class="form-group" [formGroupName]="i">
          <h5>Step {{i + 1}}
            <a (click)="deleteStep(i)"><img src="../../assets/icons/delete-24px.svg" alt="Add button"></a>
          </h5>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Step Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="What should we do?"  formControlName="subTitle"/>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Upload Attachments?</label>
            <div class="col-sm-10">
              <input type="file" class="form-control-file" formControlName="images"/>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Links</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Video, urls, links"  formControlName="links"/>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Special Instructions</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" placeholder="Special Instructions"  formControlName="optionalContent" rows="4"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>

    <h5>
      Add more steps? Click <a (click)="nextStep($event)"><img src="../../assets/icons/add-24px%20.svg" alt="Add button" ></a>
    </h5>


    <div class="submit-btn col">

      <button type="button" class="btn btn-primary"  (click)="submitRecipe()">Done</button>
      <button type="button" class="btn btn-primary" (click)="clearForm()">Reset</button>
    </div>
  </form>
</div>
