<app-header></app-header>

<div class="jumbotron">
  <h1 class="display-4 text-center">Welcome to The Cook Book</h1>
  <hr class="my-4 text-center">
  <p class="lead text-center">Your personal recipes store</p>
</div>

<div class="container text-center">
  <div class="row no-recipes-message">
    <p class="lead"> Add a new Recipe to your Cook Book? Click <a [routerLink]="['/add-recipe']"><img src="../assets/icons/add-24px%20.svg" alt="Add icon"> </a></p>
  </div>
</div>
<hr class="my-4">

<router-outlet></router-outlet>
<hr class="my-4">
<app-footer></app-footer>
